.form-year-label,
.form-radio-label,
.form-checkbox-label,
.form-textbox-label,
.form-select {
    text-align: left;
    margin-left: 5%;
}

.demographic-question {
    text-align: left;
    margin-top: 1em;
    margin-left: 2em;
}

.demo-question-wrapper {
    border: 1pt solid #444444;
    border-radius: 15px 30px;
    padding-bottom: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
}

.resp-other {
    margin-left: 1em;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  font-size: 90%;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 40em;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 5px 1em;
  border-radius: 6px;
  font-size: 90%;
  line-height: 1.5em;
 
  position: absolute;
  z-index: 1;
  
  top: 100%;
  left: 50%;
  margin-left: -20em;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}